@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: monospace;
}
.scrollable {
    overflow: auto; /* Enable scrolling */
}

.scrollable::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
}

.scrollable {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.display{
    
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
    
}